# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
.env
lib/data/env/env.g.dart
android/app/src/main/AndroidManifest.xml

# Ignore platform folders (if you're not targeting them)
android/
ios/
macos/
windows/
linux/
web/

# If you want to keep `android/app/build.gradle` etc., but ignore build outputs:
android/.gradle/
android/.cxx/
android/build/
android/app/.cxx/
android/app/build/

# Firebase config
android/app/google-services.json
firebase.json
lib/firebase_options.dart

# iOS build artifacts
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.podspec
ios/Flutter/Flutter.framework/
ios/Flutter/App.framework/
ios/.symlinks/
ios/build/
ios/Flutter/ephemeral/

# macOS build artifacts
macos/Pods/
macos/build/
macos/Flutter/ephemeral/

# Windows build artifacts
windows/build/

# Web build artifacts
web/build/

# Linux build artifacts
linux/build/

# Dart/Flutter specific
.packages
build/
flutter_*.png
generated_plugin_registrant.*

